body{
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	box-sizing: border-box;
	
}

h3{
	color: #e5e5e5;
}

a h3:hover{
	color: #fff;
}

.wrapper{
	min-width: 1050px;
	min-height: 100%;
	background-color: #141414;
}

.signInContainer{
	background-color: #efefee;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(0,0,0, 0.1) 0 1px 200000px; 
}

.column{
	background-color: #fff;
	max-height: 100%;
	min-height: 300px;
	width: 450px;
	box-shadow: rgba(0,0,0, 0.1) 0 1px 5px;
	padding: 20px 35px;
	overflow-y: auto;

}

.column form {
	display: flex;
	flex-direction: column;
	padding-top: 23px;
}

.column form input[type = "text"],
.column form input[type = "email"],
.column form input[type = "password"]{
	font-size: 14px;
	margin: 10px 0;
	border: none;
	border-bottom:1px solid #dedede;
}

.column form input[type = "submit"]{
	background-color: #4285f4;
	color: #fff;
	border: none;
	height: 30px;
	width: 70px;
	font-weight: 500px;
	font-size: 14px;
	border-radius: 2px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.header{
	padding:20px 0px;
}

.column .header h3{
	font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px;
    padding-top: 18px;
    color: #000;
}

.column .header span{
	font-size: 14px;
}

.column .header img {
	width: 100px;
}

.signInMessage, .logInMessage{
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
}

.error_message{
	color: red;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.previewImage,
.previewVideo{
	width: 100%;
}

.previewContainer{
	position: relative;
	display: flex;

}

.previewContainer.small{
	height: 139px;
    width: 230px;
    margin-right: 4px;
	display: inline-flex;
}

.previewContainer.small img{
	height: 100%;
	width: 100%;
	object-fit: cover;

}

.previewOverlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
}

.previewOverlay .mainDetails h3{
	color: #fff;
    font-size: 40px;
    margin: 15px 0;
	position: relative;
	top: 35%;

}

.previewOverlay .mainDetails{
	position: relative;
    top: 35%;
    margin-left: 50;
    display: flex;
    flex-direction: column;
}

.mainDetails button{
	background-color: rgba(51,51,51,0.4);
	color: #fff;
	border: none;
	min-width: 150px;
	padding: 0 38px;
	height: 50px;
	max-height: 50px;
	font-size: 18px;
	border-radius: 2px;
	margin-bottom: 15px;
	margin-right: 5px;
	cursor: pointer;
}

button i{
	color: inherit;
}

.mainDetails button:hover{
	background-color: #e6e6e6;
	color: #000;
}

.category{
	display: flex;
	flex-direction: column;
	padding: 10px 0;
}

.entities{
	overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.previewCategories{
	padding: 0 50px;
}

.errorBanner{
	color: #fff;
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
}